pipeline/pipeline-incremental_load.json
{
	"name": "pipeline-incremental_load",
	"properties": {
		"activities": [
			{
				"name": "get last max date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(last_M) as last_m from tbluser",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable103",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "last updated date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select lastloaddate as lastloaddate from tblcontrol",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable104",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "incremental load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get last max date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "last updated date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from tbluser\nwhere last_m <=\n'@{activity('get last max date').output.firstrow.last_m}'\nand last_m >\n'@{activity('last updated date').output.firstrow.lastloaddate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_tbluser",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable106",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "incremental load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spupdateloadinfo]",
					"storedProcedureParameters": {
						"modifieddate": {
							"value": {
								"value": "@{activity('get last max date').output.firstrow.last_m}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"tablename": {
							"value": "tbluser",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase89",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-05-14T03:18:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}